html {
    font-size: 16px;
}
/*Universal Styles*/
.header a {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
.header a:visited, .header a {
    color: #EBB7BB;;
}

.header a:hover {

    cursor: pointer;
}

.header a:active{
    margin-top: 24px;
    margin-bottom: 16px;
    box-shadow: 0px 0px;
    background-color: #EBB7BB;
    color: #fff; 
}

body {
    margin: 0;
}
h1 {
    font-size: 4rem;
}
/*End of universal styles*/

/* Header */
header {
    text-align: center;
}
.header {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}


/*End of header*/

/*Start mission statement*/
.missionStatementContainer {
height: 400px;
width: 100%;
text-align: center;
background-image: url("/resources/img/missionstatement.jpg");
background-repeat: no-repeat;
background-size: 100% 400px;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}
.missionStatement h2, .missionStatement h3 {
font-size: 1.8rem;
margin: 5px 0;
}
.missionStatement {
background-color: #FAF0DC;
width: 100%
}
/*End of mission statement*/

/*Recipes card is from https://codepen.io/ceg9498/post/creating-lined-paper*/
.recipesContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 25px 0;
    
}
.left {
    grid-column-start: 1;
    width: 100%;
    height: 100%;
}

    .right {
    grid-column-start: 3;
    width: 100%;
    height: 100%;
}

/* generic styling for the quote */
#text::before {
    content: "\"";
}
#text::after {
    content: "\"";
}
#title::after {
    content: " said:";
    font-size: 20px;
}
   
   /* Styling specific to an index card */
.card{
    font-family: Courier, monospace;
    background-color: white;
    background: repeating-linear-gradient(white, white 25px, #9198e5 26px, #9198e5 27px);
    background-position-y: 34px;
    height: 100%;
    width: 100%;
    padding: 0;
    grid-column-start: 2;
}
.card header {
    background: linear-gradient(white, white 33px, pink 35px, pink 36px);
    height: 36px;
}
.card-title {
    position: relative;
    left: 10px;
    top: 8px;
    font-size: 30px;
    font-weight: bold;
}
.card-text {
    position: relative;
    top: 30px;
    font-size: 18px;
    margin: 0 20px;
    line-height: 27px;
}
/*End of recipes*/

/*Calendar*/
.calendarContainer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #F5C5BF;
}
.calendar {
    width: 100%;
}

/*End of Calendar*/

/*Footer */
footer {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5D5BF;
}
.footerP {
    font-size: 1.2rem;
}
.footerHead {
    font-size: 2rem;
}

/*For social media icons */
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):visited{
    color: #E1306C;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #ff0000;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #E1306C;
}
.wrapper .button:nth-child(2) span{
  color: #ff0000;
}

/*End of footer*/